# Binaries
*.exe
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out

# Build output
/server/bin/
/server/dist/
/server/remotelauncher
/server/coverage.out
/server/coverage.html

# Editors
.idea/
.vscode/
*.swp

# OS
.DS_Store
